.storyBlock {
    background-color: #f8f9fb;
    /*min-height: 150px;*/
    padding: 90px 0px 103px;
}

.storyContainer {
    /*height: 250px;*/
    /* border: 1px solid;*/
    display: flex;
    flex-direction: column;
align-items: flex-start;
    justify-content: flex-start;
}



.storyWrap {

    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    /*border: 1px solid red;*/
    margin-bottom: 50px;

}

.storyWrap .date {
    text-align: left;
    width: 400px;
}
.storyWrap .position {
    /*width: 70%;*/
    background: #fff;
    padding: 35px 50px;
    box-shadow: 0px 15px 30px 0px rgb(0 11 40 / 6%);
}


.storyWrap .position::before {
    content: '';
    position: absolute;
    top: 22px;
    width: 2px;
    background-color: #eeeeee;
    height: calc(100% + 49px);
    /*left: calc(-50px + 6px);*/

    left: 180px;
}

.storyWrap .position::after {
    content: '';
    position: absolute;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 169px;
    background-color: #f1b200;
    background-image: -moz-linear-gradient(40deg, #f0ba1d 0%, #fbd214 100%);
    background-image: -webkit-linear-gradient(40deg, #f0ba1d 0%, #fbd214 100%);
    background-image: -ms-linear-gradient(40deg, #f0ba1d 0%, #fbd214 100%);
    box-shadow: 0px 14px 20px 0px rgb(254 193 16 / 40%);
}


.storyWrap .position h5 {
    margin-bottom: 18px;
    padding-top: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fec110;
}

.storyWrap .position h4 {
    font: 500 18px "Poppins", sans-serif;
    color: #022144;
    text-transform: uppercase;
    transition: all 0.4s linear;

}


.storyWrap .position p {

    color: #808899;
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    text-align: left;

}


