.header {
    height: 80px;
    background-color: #fff;


}

.container {

    width: 80%;
    height: 100%;
    /*border: 1px solid;*/
    margin: 0  auto;
    display: flex;
   justify-content: flex-end;
   align-content: center;


}