@import "../common/styles/sass/variables";


.worksBlock {
    padding-top: 93px;

    background-color: $bgColorSecond;
    .worksContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
            font: 400 16px/28px "Poppins", sans-serif;
            color: #808899;
            max-width: 520px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        .worksGrid {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 63px;
            margin-bottom: 105px;
            align-items: flex-start;
            @media screen and (max-width: 504px) {
                justify-content: center;
            }
            }
        }
    }








