.main {
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: top;
    position: relative;
    top:80px;

}

.banner_item_overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 17, 35, 0.7);
}

span.hi {
    color: #fff;
    font: 500 50px/66px "Poppins", sans-serif;
    margin-bottom: 22px;
    text-align: center;


}

span.sub_title {
    color: #fff;
    font: 500 12px/14px "Poppins", sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.banner_title {
    position: absolute;
    z-index: 1;
    width: 40%;


}

.banner_title h1 {

    color: #fbd214;
    font: 900 50px/66px "Poppins", sans-serif;


}

.button {
    font: 400 15px/30px "Poppins", sans-serif;
    background-image: -webkit-linear-gradient( 40deg, rgb(254,193,16) 0%, rgb(251,210,20) 100%);
    color: #fff;
    border-radius: 0;
    padding: 15px 35px;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 24px;
    transition: all 0.5s;

    position: absolute;
    z-index: 2;

    margin-bottom: 0;
    margin-top: 30px;

    font-weight: normal;
    text-align: center;
    vertical-align: middle;

    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;

}

.button:hover {
    background-image: -webkit-linear-gradient(-140deg, rgb(254, 193, 16) 0%, rgb(251, 210, 20) 100%);
}