$textColor: #022144;
$textColorSecond: #808899;
$textColorThird: #fec110;

$bgColor: #fff;
$bgColorSecond: #f8f9fb;

$titleFont: 700 36px "Poppins", sans-serif;
$buttonFont: 500 15px/28px "Poppins", sans-serif;

$borderColor: #F0F3F7;
$borderColorHover: #fec110;