.footerBlock {
    background-color: #fff;
    min-height: 150px;
}

.footerContainer {
    height: 250px;
   /* border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footerContainer h2 {

    color: #fec110

}

.footerMenu {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.copyright {
    width: 100%;
    color: #8a8fa3;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    position: relative;

    text-align: center;
}

.copyright::before {

    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: #e1e6f1;
}


a {

}

.icon {
    font-size:48px;

    /*width: 48px;*/
    /*height: 48px;*/

    line-height: 48px;
    color: #707b90;
    /*background: #dce2ed;*/
    display: block;
    /*border-radius: 50%;*/
    transition: all 0.4s linear;
    text-align: center;
}